<div class="card" [ngClass]="{'not-available-burger':!articulo.isOnSale}">
    <div class="card-body">
        <h5 class="card-title">{{articulo.name}}</h5>
        <img [src]=articulo.imageUrl alt="" class="card-img">
        <p *ngIf="articulo.cantidadEnStock>0&&articulo.isOnSale">Cantidad en stock: {{articulo.cantidadEnStock}} <span
                class="cantidad" [ngClass]="{
            'not-available': articulo.quantityInCart > articulo.cantidadEnStock,
            'available': articulo.quantityInCart <= articulo.cantidadEnStock
        }" *ngIf="articulo.quantityInCart > articulo.cantidadEnStock">STOCK SUPERADO</span>
        </p>
        <p class="card-text" [ngClass]="{'not-stock': articulo.cantidadEnStock==0 }">{{articulo.price}} €</p>
        <div *ngIf="articulo.cantidadEnStock==0&&!articulo.isOnSale">
            <h2>Existencias agotadas</h2>
        </div>
    </div>
    <div class="card-pursache" *ngIf="articulo.cantidadEnStock>0&&articulo.isOnSale">
        <div>
            <p class="cantidad" [ngClass]="{
            'not-available': articulo.quantityInCart > articulo.cantidadEnStock,
            'available': articulo.quantityInCart <= articulo.cantidadEnStock
        
        }"> Cantidad: {{articulo.quantityInCart}}</p>
        </div>
        <div>
            <button (click)="agregarProducto()">+</button>
            <button (click)="quitarProducto()" [disabled]="articulo.quantityInCart<=0">-</button>
        </div>

    </div>
</div>